html{
    scroll-behavior: smooth;
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:#e7c6ff;
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}